<section class="pt-70 w-full h-screen">	
	<h1 class="text-5xl mt-6">New post</h1>

	<%= form_with model: @post do |f| %>
		<div>
			<%= f.label :title %>
			<%= f.text_field :title, presence: true, minlength: 2, placeholder: "Title" %>
		</div>

		<div>
			<%= f.label :description %>
			<%= f.text_field :description, presence: true, placeholder: "Description" %>
		</div>

		<div class="field">
			<%= f.label :image %>
			<%= f.file_field :image %>
	  </div>

		<%= f.submit "Submit post!" %>
	<% end %>
</section>